@import "fonts.css";
@import "glass.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#gradient-canvas {*/
/*  --gradient-color-1: #6ec3f4;*/
/*  --gradient-color-2: #3a3aff;*/
/*  --gradient-color-3: #ff61ab;*/
/*  --gradient-color-4: #e63946;*/
/*}*/

#gradient-canvas {
  --gradient-color-1: #42f5bc;
  --gradient-color-2: #2c2d91;
  --gradient-color-3: #e7fc9a;
  --gradient-color-4: #bad8e6;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.safari-transform-fix {
  transform: translateZ(0);
}

.rotate3d-right {
  transform: perspective(500px) rotate3d(0, 1, 0, 15deg) translateX(10%);
}

.rotate3d-left {
  transform: perspective(500px) rotate3d(0, 1, 0, -15deg) translateX(-10%);
}

.hover-move-down:hover {
  transform: translateY(0.2rem);
}

.hover-move-down:active {
  transform: translateY(0.2rem) rotate3d(1, 0, 0, -15deg) perspective(500px);
}

.rounded-image img {
  @apply rounded-lg;
}
